.device
    position: relative
    padding: 20px 20px 0 20px
    height: auto
    width: 100%

.frame
    position: relative
    background: var(--screen-panel-color)
    border-radius: 20px
    box-shadow: inset 0 0 0 2px var(--screen-trim-color), 0 0 var(--screen-glow-spread, 0px) var(--screen-glow-color)
    padding: 9px 9px 23px 9px
    height: auto
    width: 100%
    transition-duration: var(--style-transition-duration)
    transition-property: var(--style-transition-property)

    &::after
        position: absolute
        content: ''
        background: var(--screen-metal-gradient)
        border-radius: 0 0 19px 19px
        bottom: 2px
        left: 3px
        height: 24px
        width: calc(100% - 5px)

.screen
    aspect-ratio: 8 / 5
    border: 2px solid var(--screen-bezel-color)
    border-radius: 10px 10px 0 0
    height: auto
    width: 100%
