[data-theme=light]
    --bg-line: #8B7500
    --bg-main: #FFD700
    --bg-1: #886419
    --bg-2: #B8860B
    --bg-3: #FFD700
    --bg-4: #FFEC8B
    --bg-5: #FFFACD
    --bg-6: #FFFFE0
    --bg-7: #FAFAD2
    --bg-8: #FFE4B5
    --bg-9: #FFD700
    --bg-10: #FFD700
    color-scheme: light

[data-theme=dark]
    --bg-line: #1B413C
    --bg-main: #40CACA
    --bg-1: #163E3D
    --bg-2: #67BEBE
    --bg-3: #163E3D
    --bg-4: #70DBDB
    --bg-5: #163E3D
    --bg-6: #577575
    --bg-7: #163E3D
    --bg-8: #629C9C
    --bg-9: #163E3D
    --bg-10: #577575
    color-scheme: dark
