.navbar-shadow
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
    transition: box-shadow 0.3s ease-in-out

.navbar-brand
    font-size: 1.3em
    background-image: linear-gradient(to right, #56ccf2, #2f80ed)
    background-size: 100%
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.nav-link
    font-size: 1.2em
    position: relative

    &.active
        color: rgba(0, 0, 0, 0.55) !important

        &:hover
            color: rgba(0, 0, 0, 0.7) !important

    &::before
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 2px
        bottom: 0
        left: 0
        background-color: #03A9F4
        transform: scaleX(0)
        transition: transform 0.3s ease

    &:hover::before
        transform: scaleX(1)

.navbar-toggler
    border: 0

    &:focus, &:active
        outline: none
        box-shadow: none
        border: 0

.navbar-toggler-icon:focus
    outline: none
    box-shadow: none
    border: 0

.toggler-icon
    width: 30px
    height: 3px
    background-color: rgba(0, 0, 0, 0.55)
    display: block
    transition: all 0.2s

.middle-bar
    margin: 5px auto

.navbar-toggler
    .top-bar
        transform: rotate(45deg)
        transform-origin: 10% 10%

    .middle-bar
        opacity: 0
        filter: alpha(opacity = 0)

    .bottom-bar
        transform: rotate(-45deg)
        transform-origin: 10% 90%

    &.collapsed
        .top-bar
            transform: rotate(0)

        .middle-bar
            opacity: 1
            filter: alpha(opacity = 100)

        .bottom-bar
            transform: rotate(0)

        .toggler-icon
            background-color: rgba(0, 0, 0, 0.55)
