@import '~bootstrap/scss/bootstrap'
@import './navbar'
@import './home'
@import './about'
@import './projects'
@import './resume'
@import './footer'

body
    background: #fdf9f3

hr
    color: #9e9e9e
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, .75), transparent)

#home, #about, #projects, #resume, #contact
    padding-top: 70px
    padding-bottom: 100px
