.footer
    background: var(--footer-background-color)
    display: block
    padding-top: 1rem
    padding-bottom: 1rem
    text-align: center

.text
    color: var(--footer-text-color)
    font-size: var(--footer-font-size)
